<div class="carousel slide carousel-top mb-5" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 carousel-item-crop" src="assets/carousel/silicon_banner.webp" alt="First slide">
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-start">
    <h1 class="fs-3 pb-3">Thesis proposal</h1>
  </div>
  <div class="row justify-content-left">
    <!-- col n -->
    <div class="col col-12 col-sm-12 col-md-4 text-container px-lg-2 mb-5" *ngFor="let thesis of thesis$ | async">
      <div class="card border-primary border-custom">
        <img src="assets/logos/Loghi_Proposte/ulab_logo_Pr_3.1_3colors.png" class="card-img-top px-2 pt-2" alt="uLab logo" loading="lazy">
        <div class="card-body">
          <h5 class="card-title">{{ thesis.title }}</h5>
          <p class="card-text">{{ thesis.description }}</p>
          <div class="text-end mx-2">
            <fa-icon [icon]="faFilePdf" size="3x" class="icon-custom ms-2"></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <!-- end col n -->
  </div>
</div>