.card-title {
  color: #133066;
  font-size: 1.25rem;
}

.card-border-custom {
  border-width: 2px;
}

.card-img-top {
  border-radius: 13px;
}

.border-master {
  border-color: #613f8d !important;
}

.border-bachelor {
  border-color: #a5213f !important;
}

.border-bachelormaster {
  background: 
    linear-gradient(#FFF 0 0) padding-box,
    linear-gradient(to right, #a5213f, #613f8d) border-box !important;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 13px;
}

.border-ongoing {
  border-color: #cd8900 !important;
}

.border-done {
  border-color: #695c5b !important;
}

.bg-master {
  background-color: #613f8d !important;
}

.bg-bachelor {
  background-color: #a5213f !important;
}

.bg-ongoing {
  background-color: #cd8900 !important;
}

.bg-done {
  background-color: #695c5b !important;
}

.icon-master {
  /* 0.2s is the amount of time it take to change colors */
  transition: 0.2s ease-in-out;
  color: #613f8d;
  fill: #613f8d;
  cursor: pointer;
}

.icon-master:hover {
  /* 0.2s is the amount of time it take to change colors */
  transition: 0.2s ease-in-out;
  color: #0096ff;
  fill: #0096ff;
}

.icon-bachelor {
  /* 0.2s is the amount of time it take to change colors */
  transition: 0.2s ease-in-out;
  color: #a5213f;
  fill: #a5213f;
  cursor: pointer;
}

.icon-bachelor:hover {
  /* 0.2s is the amount of time it take to change colors */
  transition: 0.2s ease-in-out;
  color: #0096ff;
  fill: #0096ff;
}

.icon-bachelormaster {
  /* 0.2s is the amount of time it take to change colors */
  transition: 0.2s ease-in-out;
  color: #133066;
  fill: #133066;
}

.icon-bachelormaster:hover {
  /* 0.2s is the amount of time it take to change colors */
  transition: 0.2s ease-in-out;
  color: #0096ff;
  fill: #0096ff;
}

.icon-ongoing {
  /* 0.2s is the amount of time it take to change colors */
  transition: 0.2s ease-in-out;
  color: #cd8900;
  fill: #cd8900;
  cursor: pointer;
}

.icon-ongoing:hover {
  /* 0.2s is the amount of time it take to change colors */
  transition: 0.2s ease-in-out;
  color: #0096ff;
  fill: #0096ff;
}

.icon-done {
  /* 0.2s is the amount of time it take to change colors */
  transition: 0.2s ease-in-out;
  color: #695c5b;
  fill: #695c5b;
  cursor: pointer;
}

.icon-done:hover {
  /* 0.2s is the amount of time it take to change colors */
  transition: 0.2s ease-in-out;
  color: #0096ff;
  fill: #0096ff;
}

.icon-trash:hover {
  /* 0.2s is the amount of time it take to change colors */
  transition: 0.2s ease-in-out;
  color: red;
  fill: red;
}

.font-master {
  color: #613f8d;
}

.font-bachelor {
  color: #a5213f;
}

.font-ongoing {
  color: #cd8900;
}

.font-done {
  color: #695c5b;
}

.img-done {
  filter: grayscale(85%);
}

.card-collapse {
  height: 4rem;
  overflow: hidden;
}

.show {
  overflow: visible;
  height: auto;
}