<div class="container mt-5">
  <h1 class="fs-2">Thesis proposals</h1>
  <div class="row justify-content-between">
    <!-- col 1 -->
    <div class="col col-12 col-sm-12 col-md-4 text-container px-lg-2 mb-5">
      <div class="card">
        <img src="assets/logos/Loghi_Proposte/ulab_logo_Pr_3.1.png" class="card-img-top px-2 pt-2" alt="uLab logo">
        <div class="card-body">
          <h5 class="card-title">Thesis #1</h5>
          <p class="card-text">Characterisation of 14mm CMOS technology.<br />Brand new.</p>
          <a href="#" class="btn btn-outline-primary btn-custom">PDF download</a>
        </div>
      </div>
    </div>
    <!-- col 2 -->
    <div class="col col-12 col-sm-12 col-md-4 text-container px-lg-2 mb-5">
      <div class="card">
        <img src="assets/logos/Loghi_Proposte/ulab_logo_Pr_3.1.png" class="card-img-top px-2 pt-2" alt="uLab logo">
        <div class="card-body">
          <h5 class="card-title">Thesis #2</h5>
          <p class="card-text">Convince INFN to label FALCON as an actual project, please I have a family.</p>
          <a href="#" class="btn btn-outline-primary btn-custom">PDF download</a>
        </div>
      </div>
    </div>
    <!-- col 3 -->
    <div class="col col-12 col-sm-12 col-md-4 text-container px-lg-2 mb-5">
      <div class="card">
        <img src="assets/logos/Loghi_Proposte/ulab_logo_Pr_3.1.png" class="card-img-top px-2 pt-2" alt="uLab logo">
        <div class="card-body">
          <h5 class="card-title">Thesis #3</h5>
          <p class="card-text">Ok we have devices, you have money. Let's say you lend us money and we make you devices. It's like magic.</p>
          <a href="#" class="btn btn-outline-primary btn-custom">PDF download</a>
        </div>
      </div>
    </div>
  </div>
</div>