<div class="carousel slide carousel-top mb-5" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 carousel-item-crop" src="assets/carousel/silicon_banner.webp" alt="First slide">
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-start">
    <h1 class="fs-3 pb-3">Thesis proposal</h1>
  </div>
  <div class="row justify-content-left">
    <!-- add col (only if logged) -->
    <ng-container *ngIf="isLogged">
      <div class="col col-12 col-sm-12 col-md-4 text-container px-lg-2 mb-5">
        <button type="button" class="btn btn-outline-primary btn-custom border-custom w-100 h-100" routerLink="thesis-form">
          <fa-icon [icon]="faPlus" size="3x"></fa-icon>
        </button>
      </div>
    </ng-container>
    <!-- col n -->
    <div class="col col-12 col-sm-12 col-md-4 text-container px-lg-2 mb-5" *ngFor="let thesis of thesis$ | async">
      <div class="card border-primary border-custom">
        <img src="assets/logos/Loghi_Proposte/ulab_logo_Pr_3.1_3colors.png" class="card-img-top px-2 pt-2" alt="uLab logo" loading="lazy" style="margin-bottom: 10px">
        <div class="card-body">
          <h5 class="card-title">{{ thesis.title }}</h5>
          <p class="card-text" style="height: 50px">{{ thesis.description }}</p>
          <div class="text-end mx-2">
            <a (click)="downloadFromUrl(thesis.pdfRef)"><fa-icon [icon]="faFilePdf" size="3x" class="icon-custom ms-2"></fa-icon></a>
            <ng-container *ngIf="isLogged">
              <a (click)="editThesis(thesis.id)"><fa-icon [icon]="faPenToSquare" size="3x" class="icon-custom ms-2"></fa-icon></a>
              <a (click)="deleteThesis(thesis.id)"><fa-icon [icon]="faTrashCan" size="3x" class="icon-custom icon-trash ms-2"></fa-icon></a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- end col n -->
  </div>
</div>