<div class="container-fluid py-3 border-top footer-custom text-center align-item-center">
  <span class="text-center">
    <a aria-label="Write an e-mail to uLab" target="_blank" rel="noopener" href="mailto:ulabunibg@gmail.com" title="E-mail">
      <fa-icon [icon]="faEnvelope" transform="grow-2" class="me-2 icon-custom-neg fs-2"></fa-icon>
    </a>
    <a aria-label="uLab on Github" target="_blank" rel="noopener" href="https://github.com/microlab-unibg" title="Github">
      <i class="bi bi-github icon-custom-neg mx-2 fs-2"></i>
    </a>
    <a aria-label="uLab on Researchgate" target="_blank" rel="noopener" href="https://www.researchgate.net/lab/Microlab-Valerio-Re" title="Researchgate">
      <fa-icon [icon]="faResearchgate" transform="grow-2" class="ms-2 icon-custom-neg fs-2"></fa-icon>
    </a>
    <a aria-label="uLab on Youtube" target="_blank" rel="noopener" href="https://www.youtube.com/@microlabunibg" title="Youtube">
      <i class="bi bi-youtube icon-custom-neg ms-3 fs-2"></i>
    </a>
  </span>
  <div class="mt-4 mt-md-3">
    <span class="text-center">
      Microelectronics Laboratory<br />
      Università degli Studi di Bergamo<br />
      2, Via Galvani, Dalmine (BG), Italy<br class="mb-3" />
      © 2024 &mu;Lab
    </span>
  </div>
</div>

