<nav
  NgbDropdown
  class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom px-3">
  <div class="me-auto">
    <a class="navbar-brand" routerLink="/home">
      <img
        src="assets/logos/Loghi_Proposte/ulab_logo_Pr_3.1_neg.png"
        class="me-2"
        height="40"
        alt="Microlab logo"
        loading="lazy" />
    </a>
  </div>
  <button
    NgbDropdownToggle
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    [attr.aria-expanded]="!collapsed"
    (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="navbar-collapse"
    id="navbarSupportedContent"
    [class.collapse]="collapsed">
    <ul class="navbar-nav mx-auto">
      <li NgbDropdownItem class="nav-item active">
        <a class="nav-link mx-2" routerLink="/research-interest"
          >Research interest</a
        >
      </li>
      <!--<li class="nav-item mx-2" ngbDropdown>
        <a
          class="nav-link"
          tabindex="0"
          ngbDropdownToggle
          id="navbarDropdown1"
          role="button">
          Projects
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="navbarDropdown1"
          class="dropdown-menu">
          <a
            ngbDropdownItem
            routerLink="/work-in-progress"
            (click)="$event.preventDefault()"
            >CMS</a
          >
          <a
            ngbDropdownItem
            routerLink="/work-in-progress"
            (click)="$event.preventDefault()"
            >GAPS</a
          >
          <a
            ngbDropdownItem
            routerLink="/work-in-progress"
            (click)="$event.preventDefault()"
            >Skinmon</a
          >
        </div>
      </li>-->
      <li NgbDropdownItem class="nav-item">
        <ng-container *ngIf="isLogged; else WIP"
          ><a class="nav-link mx-2" routerLink="/thesis-proposals"
            >Thesis proposals</a
          ></ng-container
        >
        <ng-template #WIP
          ><a class="nav-link mx-2" routerLink="/work-in-progress"
            >Thesis proposals</a
          ></ng-template
        >
      </li>
    </ul>
    <ul class="navbar-nav">
      <ng-container *ngIf="isLogged && currentUser; else noAvatar">
        <div
          class="ms-auto me-2">
          <ng-container *ngIf="!showUserMenu; else showMenu"
            ><img
              [src]="currentUser.photoUrl"
              alt="Avatar"
              class="avatar"
              (click)="showUserMenu = !showUserMenu"
          /></ng-container>
          <ng-template #showMenu>
            <button id="btn-logout" type="button" class="btn btn-primary">
              <span (click)="logout()" class="mx-2">Logout</span>
              <img
                [src]="currentUser.photoUrl"
                alt="Avatar"
                class="avatar"
                (click)="showUserMenu = !showUserMenu" />
            </button>
          </ng-template>
        </div>
      </ng-container>
      <ng-template #noAvatar>
        <img
          style="opacity: 0"
          src="assets/logos/Loghi_Proposte/ulab_logo_Pr_3.1_neg.png"
          class="d-none d-sm-none d-md-none d-lg-block ms-2"
          height="40"
          loading="lazy" />
      </ng-template>
    </ul>
  </div>
</nav>
