<nav
  NgbDropdown
  class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom px-3">
  <div class="me-auto">
    <a class="navbar-brand" routerLink="/home">
      <img
        src="assets/logos/Loghi_Proposte/ulab_logo_Pr_3.1_neg.png"
        class="me-2"
        height="30"
        alt="Microlab logo"
        loading="lazy" />
    </a>
  </div>
  <button
    NgbDropdownToggle
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    [attr.aria-expanded]="!collapsed"
    (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="navbar-collapse"
    id="navbarSupportedContent"
    [class.collapse]="collapsed">
    <ul class="navbar-nav mx-auto">
      <li NgbDropdownItem class="nav-item active">
        <a class="nav-link mx-2" routerLink="/research-interest"
          >Research interest</a
        >
      </li>
      <li class="nav-item mx-2" ngbDropdown>
        <a
          class="nav-link"
          tabindex="0"
          ngbDropdownToggle
          id="navbarDropdown1"
          role="button">
          Projects
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="navbarDropdown1"
          class="dropdown-menu">
          <a
            ngbDropdownItem
            href="https://cms.cern/"
            >CMS</a
          >
          <a
            ngbDropdownItem
            href="https://gaps1.astro.ucla.edu/gaps/"
            >GAPS</a
          >
          <a
            ngbDropdownItem
            href="https://www.belle2.org/"
            >BELLE2</a
          >
          <a
            ngbDropdownItem
            href="https://www.centronazionalemost.it/"
            >MOST</a
          >
        </div>
      </li>
      <li NgbDropdownItem class="nav-item">
        <a class="nav-link mx-2" routerLink="/thesis-proposals"
          >Thesis proposals</a>
      </li>
      <li NgbDropdownItem class="nav-item">
        <a class="nav-link nav-link-important mx-2" routerLink="/gaps-on-air"
          >GAPS (on-air!)</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <ng-container *ngIf="isLogged && currentUser; else noAvatar">
        <ng-container *ngIf="!showUserMenu; else showMenu">
          <div style="width: 91px" class="ms-2"></div>
          <div class="ms-auto me-2">
            <img
              [src]="currentUser.photoUrl"
              alt="Avatar"
              class="avatar"
              (click)="showUserMenu = !showUserMenu"
            />
          </div>
        </ng-container>
        <ng-template #showMenu>
          <div style="width: 11px" class="ms-2"></div>
          <div class="ms-auto me-2">
            <button id="btn-logout" type="button" class="btn btn-primary">
              <span (click)="logout()" class="mx-2">Logout</span>
              <img
                [src]="currentUser.photoUrl"
                alt="Avatar"
                class="avatar"
                (click)="showUserMenu = !showUserMenu" />
            </button>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #noAvatar>
        <div style="width: 111px" class="ms-2"></div>
      </ng-template>
    </ul>
  </div>
</nav>
