<nav NgbDropdown class="navbar navbar-expand-lg navbar-dark navbar-custom px-5">
  <a class="navbar-brand" routerLink="/home">
    <img src="assets/logos/ulab_logo_small.png" class="me-2" height="40"
      alt="INFN Logo" loading="lazy" />
    <span class="brand-custom">LAB</span>
  </a>
  <button NgbDropdownToggle class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" [attr.aria-expanded]="!collapsed" (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" id="navbarSupportedContent" [class.collapse]="collapsed">
    <ul class="navbar-nav">
      <li NgbDropdownItem class="nav-item active">
        <a class="nav-link" routerLink="/research-interest" >Research interest</a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Projects </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">CMS</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">GAPS</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Skinmon</a>
        </div>
      </li>
      <li NgbDropdownItem class="nav-item">
        <a class="nav-link" href="#">People</a>
      </li>
      <li NgbDropdownItem class="nav-item">
        <a class="nav-link" href="#">Papers</a>
      </li>
      <li NgbDropdownItem class="nav-item">
        <a class="nav-link" href="#">Thesis proposals</a>
      </li>
    </ul>
    <div class="navbar-nav ms-auto">
      <div class="row justify-content-end">
        <div class="col col-1 col-sm-1 col-md-1 mx-2">
          <a aria-label="Write an e-mail to uLab" target="_blank" rel="noopener" href="mailto:ulabunibg@gmail.com" title="E-mail" class="icon-custom">
            <i class="bi bi-envelope-at mx-2"></i>
          </a>
        </div>
        <div class="col col-1 col-sm-1 col-md-1 mx-2">
          <a aria-label="uLab on Github" target="_blank" rel="noopener" href="https://github.com/microlab-unibg" title="Github" class="icon-custom">
            <i class="bi bi-github mx-2"></i>
          </a>
        </div>
        <div class="col col-1 col-sm-1 col-md-1 mx-2">
          <a aria-label="uLab on Linkedin" target="_blank" rel="noopener" href="https://www.linkedin.com" title="Linkedin" class="icon-custom">
            <i class="bi bi-linkedin mx-2"></i>
          </a>
        </div>
        <div class="col col-1 col-sm-1 col-md-1 mx-2">
          <a aria-label="uLab on Researchgate" target="_blank" rel="noopener" href="https://www.researchgate.net/lab/Microlab-Valerio-Re" title="Researchgate" class="icon-custom">
            <fa-icon [icon]="faResearchgate" transform="grow-2" class="mx-2"></fa-icon>
          </a>
        </div>
      </div>
      <div class="me-4"></div>
    </div>
  </div>
</nav>
