/* Modify the background color */
.navbar-custom {
    background-color: #133066;
    padding: 2px 2px 2px 2px;
}

/* Modify brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}
.brand-custom {
    font-size: x-large;
    font-weight: bold;
    color: #0096ff;
}
a:hover {
    color: #ffffff;
}
.navbar-nav > .nav-item > a {
    color: #ffffff;
    font-weight: normal;
}
.navbar-nav > .nav-item > a:hover {
    color: #0096ff;
    font-weight: normal;
}
@keyframes oscillation{
  from   {color: #10e3ff;}
  to     {color: #ffffff;}
}
.navbar-nav > .nav-item > a.nav-link-important {
    color: #10e3ff;
    font-weight: 500;
    animation: oscillation 1.1s 0s infinite alternate;
}
.navbar-nav > .nav-item > a.nav-link-important:hover {
    color: #0096ff;
    font-weight: 500;
}
.navbar-nav > li > .dropdown-menu {
    background-color: #133066;
}
.navbar-nav > li > .dropdown-menu > .dropdown-item {
    color: #ffffff;
    transition: 0.2s ease-in-out;
}
.navbar-nav > li > .dropdown-menu > .dropdown-item:hover {
    background-color: #133066;
    color: #0096ff;
    transition: 0.2s ease-in-out;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #0096ff;
}

#btn-logout {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  border-radius: 35px;
}

.logo {
  height: 35px;
}