<div class="container mt-5">
  <div class="row justify-content-between">
    <!-- col 1 -->
    <div class="col col-12 col-sm-12 col-md-5 text-container px-lg-5 align-self-center">
      <div class="overlap mt-5">
        <div class="bee-sketch red"></div>
        <div class="bee-sketch blue"></div>
      </div>
    </div>
    <!-- col 1 -->
    <div class="col col-12 col-sm-12 col-md-7 text-container px-lg-5 align-self-center">
      <h1>
        It seems you got lost
        <small>or maybe this section is not available yet... <br /><br />
          return to <a routerLink="/home">Home</a>
        </small>
      </h1>
    </div>
  </div>
</div>
