  <div class="container text-center mt-5">
    <div class="row">
      <div class="col mx-auto">
        <img src="../../../assets/logos/ulab_logo.png" class="img-fluid float-center" alt="uLab Logo" loading="lazy" />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-between">
      <!-- col 1 -->
      <div class="col col-12 col-sm-12 col-md-4 text-container mt-5">
        <h1 class="font-weight-bold text-center">High Energy Physics</h1>
        <div class="text-center">
          <img src="../../../assets/thumbnails/mockup.jpeg" class="img-fluid float-center" width="245" alt="hep" loading="lazy" />
        </div>
        <p class="text-start mt-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum dolor tortor, id convallis mi hendrerit sit amet. Praesent semper neque lorem, efficitur posuere justo bibendum id.
        </p>
        <div class="text-center">
          <button type="button" class="btn btn-outline-primary btn-custom">Read more</button>
        </div>
      </div>
      <!-- col 2 -->
      <div class="col col-12 col-sm-12 col-md-4 text-container mt-5">
        <h1 class="font-weight-bold text-center text-small-caps">CMOS technology characterization</h1>
        <div class="text-center">
          <img src="../../../assets/thumbnails/mockup_noise.png" class="img-fluid float-center" alt="hep" loading="lazy" />
        </div>
        <p class="text-start mt-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum dolor tortor, id convallis mi hendrerit sit amet. Praesent semper neque lorem, efficitur posuere justo bibendum id.
        </p>
        <div class="text-center">
          <button type="button" class="btn btn-outline-primary btn-custom">Read more</button>
        </div>
      </div>
      <!-- col 3 -->
      <div class="col col-12 col-sm-12 col-md-4 text-container mt-5">
        <h1 class="font-weight-bold text-center">Wearables and IoT</h1>
        <div class="text-center">
          <img src="../../../assets/thumbnails/mockup_iot.jpeg" class="img-fluid float-center" width="283" alt="hep" loading="lazy" />
        </div>
        <p class="text-start mt-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum dolor tortor, id convallis mi hendrerit sit amet. Praesent semper neque lorem, efficitur posuere justo bibendum id.
        </p>
        <div class="text-center">
          <button type="button" class="btn btn-outline-primary btn-custom">Read more</button>
        </div>
      </div>
    </div>



  </div>
