<div class="carousel slide carousel-top mb-5" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/carousel/silicon_banner.webp" alt="First slide" />
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-between">
    <!-- col 1 -->
    <div class="col col-12 col-sm-12 col-md-4 text-container px-lg-5 mb-5">
      <h1 class="text-center border-bottom border-primary border-custom fs-3 pb-3">
        High Energy Physics
      </h1>
      <div class="text-center">
        <img src="assets/icons/HEP.png" class="img-fluid float-center" width="200" alt="hep" loading="lazy" />
      </div>
      <p class="fs-6 text-center my-4">
        Mixed-signal, low-noise front-end IC design for accelerators, x-FELs and
        astroparticle physics.
      </p>
      <div class="text-center">
        <button type="button" class="btn btn-outline-primary btn-custom" routerLink="/research-interest"
          fragment="HEP">Read more</button>
      </div>
    </div>
    <!-- col 2 -->
    <div class="col col-12 col-sm-12 col-md-4 text-container px-lg-5 mb-5">
      <h1 class="text-center border-bottom border-primary border-custom fs-3 pb-3">
        CMOS characterization
      </h1>
      <div class="text-center">
        <img src="assets/icons/cmos.png" class="img-fluid float-center" width="200" alt="cmos" loading="lazy" />
      </div>
      <p class="fs-6 text-center my-4">
        CMOS technology nodes characterizations, noise evaluation and radiation
        effect analysis.
      </p>
      <div class="text-center">
        <button type="button" class="btn btn-outline-primary btn-custom" routerLink="/research-interest"
          fragment="CMOS">Read more</button>
      </div>
    </div>
    <!-- col 3 -->
    <div class="col col-12 col-sm-12 col-md-4 text-container px-lg-5 mb-5">
      <h1 class="text-center border-bottom border-primary border-custom fs-3 pb-3">
        Wearable sensors and IoT
      </h1>
      <div class="text-center">
        <img src="assets/icons/sensors.png" class="img-fluid float-center" width="200" alt="sensors" loading="lazy" />
      </div>
      <p class="fs-6 text-center my-4">
        Affordable, precise and efficient solutions for wearable sensors and IoT
        networks.
      </p>
      <div class="text-center">
        <button type="button" class="btn btn-outline-primary btn-custom" routerLink="/research-interest"
          fragment="IoT">Read more</button>
      </div>
    </div>
  </div>

  <!-- People carousel -->
  <div class="row justify-content-center">
    <div class="col px-lg-5 mb-5">
      <h1 class=" text-center border-bottom border-primary border-custom fs-3 pb-3">
        Who we are
      </h1>
      <app-people-carousel class="my-5"></app-people-carousel>
    </div>
  </div>

</div>