<div class="container text-center my-5">
  <div class="row">
    <div class="col mx-auto">
      <img src="assets/logos/ulab_logo.png" class="img-fluid float-center" alt="uLab Logo" loading="lazy" />
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-between">
    <!-- col 1 -->
    <div class="col col-12 col-sm-12 col-md-4 text-container px-lg-5 mb-5">
      <h1 class="text-center border-bottom border-primary border-custom fs-3 pb-1">High Energy Physics</h1>
      <div class="text-center">
        <img src="assets/icons/HEP.png" class="img-fluid float-center" width="200" alt="hep" loading="lazy" />
      </div>
      <p class="text-center my-4">
        Mixed-signal, low-noise front-end IC <bold>design</bold> for accelerators, x-FELs and astroparticle physics.
      </p>
      <div class="text-center">
        <button type="button" class="btn btn-outline-primary btn-custom">Read more</button>
      </div>
    </div>
    <!-- col 2 -->
    <div class="col col-12 col-sm-12 col-md-4 text-container px-lg-5 mb-5">
      <h1 class="text-center border-bottom border-primary border-custom fs-3 pb-1">CMOS characterization</h1>
      <div class="text-center">
        <img src="assets/icons/cmos.png" class="img-fluid float-center" width="200" alt="cmos" loading="lazy" />
      </div>
      <p class="text-center my-4">
        CMOS technology nodes <bold>characterisations</bold>, noise evaluation and radiation effect analysis.
      </p>
      <div class="text-center">
        <button type="button" class="btn btn-outline-primary btn-custom">Read more</button>
      </div>
    </div>
    <!-- col 3 -->
    <div class="col col-12 col-sm-12 col-md-4 text-container px-lg-5 mb-5">
      <h1 class="text-center border-bottom border-primary border-custom fs-3 pb-1">Wearable sensors and IoT</h1>
      <div class="text-center">
        <img src="assets/icons/sensors.png" class="img-fluid float-center" width="200" alt="sensors" loading="lazy" />
      </div>
      <p class="text-center my-4">
        Affordable, precise and power-effective solutions<br />for wearable <bold>sensors</bold> and IoT networks.
      </p>
      <div class="text-center">
        <button type="button" class="btn btn-outline-primary btn-custom">Read more</button>
      </div>
    </div>
  </div>
</div>
