<div class="carousel slide carousel-top mb-5" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100 carousel-item-crop" src="assets/carousel/silicon_banner.webp" alt="First slide">
		</div>
	</div>
</div>

<div class="container fs-6">
	<!--IoT-->
	<div class="row justify-content-start" id="IoT">
		<div class="col col-12">
			<h1 class="border-bottom border-primary border-custom fs-3 pb-3">Microlab @ Giro-E 2025</h1>
		</div>
	</div>
	<div class="row justify-content-between">
		<p>
			The microlab laboratory is currently involved in the <a href="https://www.giroe.it/">Giro-E</a> event, an amatorial experience which follows the tracks of the <a href="https://www.giroditalia.it/">Giro d'Italia</a> competition. For the second year in a row, Microlab, together with other laboratories and companies around Italy, is presenting a selection of prototypes developed in the framework of <a href="https://www.centronazionalemost.it/">MOST</a>, a PNRR-founded research center for sustainable mobility. The prototypes includes a telemetry station for e-bikes enabling terrain recognition and air quality monitoring, mounted on Continental team leader Damiano Cunego's bike, and radar prototypes for vital parameter monitoring.
		</p>
		<p class="text-center"><a href="https://www.giroe.it/percorso/">Follow the microlab team during Giro-E 2025!</a></p>
		<div class="col col-12 col-lg-6 align-self-center my-2">
			<img class="img-fluid" src="assets/img/telemetria_giro-e.jpg" loading="lazy" />
		</div>
		<div class="col col-12 col-lg-6 align-self-center my-2">
			<img class="img-fluid" src="assets/img/radar_giro-e.jpg" loading="lazy" />
		</div>
		<!-- <div class="col-md-12 col-lg-6 d-none d-sm-block">
			<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7327299567031345152" height="666" width="504"
				frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
		</div> -->
	</div>
</div>