.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #0096ff;
}

#btn-loged {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  border-radius: 35px;
}
