<div class="container mt-5">
  <div class="row row justify-content-center">
    <div
      class="col col-12 col-sm-12 col-md-5 text-container px-lg-5 align-self-center">
      <div class="row justify-content-center">
        <h4>
          In order to access to admin privileges, please login using your Google
          or UniBG account
        </h4>
      </div>
      <ng-container *ngIf="!isLogged; else logoutBlock">
        <asl-google-signin-button
          type="standard"
          size="large"></asl-google-signin-button
      ></ng-container>

      <ng-template #logoutBlock>
        <button>Logged in as {{ user.name }}</button>
        <div class="row">
          <h4>
            You can now edit thesis section:
            <a routerLink="/thesis-proposals">Thesis proposals</a>
          </h4>
        </div></ng-template
      >
    </div>
  </div>
</div>
