<div class="carousel slide carousel-top mb-5" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100 carousel-item-crop" src="assets/carousel/silicon_banner.webp" alt="First slide">
		</div>
	</div>
</div>

<div class="container fs-6">
	<!--IoT-->
	<div class="row justify-content-start" id="IoT">
		<div class="col col-12">
			<h1 class="border-bottom border-primary border-custom fs-3 pb-3">GAPS (is up!)</h1>
		</div>
	</div>
	<div class="row justify-content-between">
		<p>
			The microlab laboratory, as part of the <a href="https://gaps1.astro.ucla.edu/gaps/">GAPS</a> experiment, is currently involved in the Antartica deployment of the long-flight balloon housing the experiment that will last until the end of the year. The microlab was responsible of developing the modules and the ASIC which are integrated in the tracker, the core of the experiment.
			<br/><br />A second launch attempt is scheduled for this season, after the first one in 2024 was not possible due to weather conditions.
			<br/><br />Dec 15th, 5:37pm: GAPS has successfully launched from McMurdo Station in Antarctica!
			<br/><br />
		</p>
		<p class="text-center"><a href="https://www.csbf.nasa.gov/map/balloon6/flight759N.htm">Follow GAPS revolutions around the South Pole!</a></p>
		<div class="container mx-3 my-3">
			<div class="row">
				<div class="col-md-12 col-lg-8 align-self-center text-center">
					<img class="rounded img-fluid" src="https://www.balloonfacility.com/webcam/CSBFHDCamN.jpg" style="padding-bottom: 20px;" width="88%" />
				</div>
				<div class="col-md-12 col-lg-4 align-self-center text-center">
					<img class="rounded img-fluid" src="https://www.csbf.nasa.gov/map/balloon6/balloon6.png" style="padding-bottom: 20px" width="95%"/>
				</div>
				<div class="col-md-12 col-lg-12 d-none d-sm-block text-center">
					<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGAPSexperiment%2F&tabs=timeline&width=450&height=450&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=856595740649382" width="450" height="450" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
				</div>
			</div>
		</div>
		<p class="text-center">
			You can follow microlab during this adventure on the socials:
		</p>
		<div class="text-center mb-4">
			<span class="text-center">
				<a aria-label="GAPS on Instagram" target="_blank" rel="noopener" href="https://www.instagram.com/gaps_experiment/"
					title="Instagram">
					<i class="bi bi-instagram icon-custom mx-2 fs-1"></i>
				</a>
				<a aria-label="GAPS on Facebook" target="_blank" rel="noopener"
					href="https://www.facebook.com/GAPSexperiment" title="Facebook">
					<i class="bi bi-facebook icon-custom mx-2 fs-1"></i>
				</a>
				<a aria-label="GAPS on X" target="_blank" rel="noopener" href="https://x.com/GAPS_Experiment"
					title="X">
					<fa-icon [icon]="faSquareXTwitter" transform="grow-2" class="ms-2 icon-custom fs-1"></fa-icon>
				</a>
			</span>
		</div>
	</div>
</div>