<div class="carousel slide carousel-top mb-5" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 carousel-item-crop" src="assets/carousel/silicon_banner.webp" alt="First slide">
    </div>
  </div>
</div>
  
<div class="container fs-6">
  <div class="text-start text-container px-lg-5 mb-5">
    <p class="my-4">
      The Microlab (&mu;Lab) laboratory interest spans different research fields:
    </p>
    <!--HEP-->
    <h1 class="border-bottom border-primary border-custom fs-3 pb-3 mt-5">High Energy Physics</h1>
    <p>
      Microlab has developed several custom low-noise front-end circuits for radiation detector readout in different national and international collaboration frames. The technologies used by the laboratory are varied, but CMOS is the usual choice when it comes to integrated circuits for the experience the group holds on the process.
    </p>
    <img class="float-start me-5" src="assets/img/GAPS_module.png" height="15%" alt="gaps module">
    <p>
      The group has been developing mixed-signal circuits in CMOS technologies from the 180 nm down to the 28 nm node to readout both pixellated and striped detectors. The target of the typical application is very low noise detection of target particles, together with low power specification and compact area for high level of integration and spatial resolution. The group has also experience on design of I/O blocks and band-gap references. There is also expertise with 3D integration technologies to produce multilayer analog-digital integrated circuits.
    </p>
    <p>
      Some of the project Microlab has been workin on are:
    </p>
    <ul>
      <li>CMS, in collaboration with CERN.</li>
      <li>GAPS, a NASA/ASI/JAXA founded projec in collaboration with different universities and institute across the world.</li>
      <li>DSSC, in collaboration with DESY, PoliMi and so on.</li>
      <li>PixFEL, ...</li>
      <li>Fermilab (what was that?)</li>
      <li>Falaphel, in collaboration with CERN and ...</li>
      <li>FALCON, in collaboration with Argonne National laboratory and UniPV.</li>
    </ul>
    <p>
      Very important bottom info perchè altrimenti sto mi di float se ne va a quel paese.
    </p>
    <!--Tech-->
    <h1 class="border-bottom border-primary border-custom fs-3 pb-3 mt-5">CMOS characterization</h1>
    <p>
      Microlab has developed several custom low-noise front-end circuits for radiation detector readout in different national and international collaboration frames. The technologies used by the laboratory are varied, but CMOS is the usual choice when it comes to integrated circuits for the experience the group holds on the process.
    </p>
    <img class="float-end me-5" src="assets/img/GAPS_module.png" height="15%" alt="gaps module">
    <p>
      The group has been developing mixed-signal circuits in CMOS technologies from the 180 nm down to the 28 nm node to readout both pixellated and striped detectors. The target of the typical application is very low noise detection of target particles, together with low power specification and compact area for high level of integration and spatial resolution. The group has also experience on design of I/O blocks and band-gap references. There is also expertise with 3D integration technologies to produce multilayer analog-digital integrated circuits.
    </p>
    <p>
      Some of the project Microlab has been workin on are:
    </p>
    <ul>
      <li>CMS, in collaboration with CERN.</li>
      <li>GAPS, a NASA/ASI/JAXA founded projec in collaboration with different universities and institute across the world.</li>
      <li>DSSC, in collaboration with DESY, PoliMi and so on.</li>
      <li>PixFEL, ...</li>
      <li>Fermilab (what was that?)</li>
      <li>Falaphel, in collaboration with CERN and ...</li>
      <li>FALCON, in collaboration with Argonne National laboratory and UniPV.</li>
    </ul>
    <p>
      Very important bottom info perchè altrimenti sto mi di float se ne va a quel paese.
    </p>
    <!--IoT-->
    <h1 class="border-bottom border-primary border-custom fs-3 pb-3 mt-5">Wearable sensors and IoT</h1>
    <p>
      Microlab has developed several custom low-noise front-end circuits for radiation detector readout in different national and international collaboration frames. The technologies used by the laboratory are varied, but CMOS is the usual choice when it comes to integrated circuits for the experience the group holds on the process.
    </p>
    <img class="float-start me-5" src="assets/img/GAPS_module.png" height="15%" alt="gaps module">
    <p>
      The group has been developing mixed-signal circuits in CMOS technologies from the 180 nm down to the 28 nm node to readout both pixellated and striped detectors. The target of the typical application is very low noise detection of target particles, together with low power specification and compact area for high level of integration and spatial resolution. The group has also experience on design of I/O blocks and band-gap references. There is also expertise with 3D integration technologies to produce multilayer analog-digital integrated circuits.
    </p>
    <p>
      Some of the project Microlab has been workin on are:
    </p>
    <ul>
      <li>CMS, in collaboration with CERN.</li>
      <li>GAPS, a NASA/ASI/JAXA founded projec in collaboration with different universities and institute across the world.</li>
      <li>DSSC, in collaboration with DESY, PoliMi and so on.</li>
      <li>PixFEL, ...</li>
      <li>Fermilab (what was that?)</li>
      <li>Falaphel, in collaboration with CERN and ...</li>
      <li>FALCON, in collaboration with Argonne National laboratory and UniPV.</li>
    </ul>
    <p>
      Very important bottom info perchè altrimenti sto mi di float se ne va a quel paese.
    </p>
  </div>
</div>