<div class="carousel slide carousel-top mb-5" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 carousel-item-crop" src="assets/carousel/silicon_banner.webp" alt="First slide">
    </div>
  </div>
</div>
  
<div class="container fs-6">
  <p>
    Microlab (&mu;Lab) laboratory interest spans different research fields:
  </p>
  <!--IoT-->
  <div class="row justify-content-start" id="IoT">
    <div class="col col-12">
      <h1 class="border-bottom border-primary border-custom fs-3 pb-3 mt-3">Wearable sensors and IoT</h1>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col col-12 col-md-4 text-center mb-2">
      <img class="img-fluid" src="assets/img/ECG_sig.png" width="80%" alt="gaps module" loading="lazy">
      <div class="my-5"></div>
      <img class="img-fluid" src="assets/img/giroe.png" width="70%" alt="gaps module" loading="lazy">
    </div>
    <div class="col col-12 col-md-8">
      <div class="text-start text-container mb-5">
        <p>
          From industry to everyday life, the current trend is to collect valuable information with zero impact, low cost and for long spans of time. The Internet of Things (IoT) is the most famous paradigm to make this idea work: a network of smart sensors connected to the Internet that gather data, forward them to accumulators that can exploit them and find useful patterns and information starting from them.
        </p>
        <p>
          Microlab has been working extensively on different wearable and IoT platforms applied to multiple fields with a common target: miniaturization and long battery life. The areas of application, and fields of interest, of such systems are unbound: from orientation and motion tracking system for industry to dynamic ECG system, dehydration monitoring platforms and beam diagnostic architecture for medical applications. The expertise of the group spans from the hardware, namely components, PCB design and integration, to the firmware and data analysis. Different miniaturised platforms have been developed, tested and applied to use cases with a great success.
        </p>
        <p>
          Some of the platfroms Microlab has been developing are:
        </p>
        <ul>
          <li>Orientation and motion tracking systems for general purposes application (motion reconstruction, patient rehabilitation, etc.).</li>
          <li>Studies and applications of sensors of air quality and particulate matter.</li>
          <li>ECG and PPG platforms for medical applications.</li>
          <li>Color sensing platforms interfacing with smart textiles for vital parameters and dehydration monitoring for professional sportspeople.</li>
          <li>Beamline monitoring system for particle therapy, a new kind of radiotherapy that limits the collateral damage due to tumour removal methods.</li>
        </ul>
        <p>
          Some of the project Microlab has been working on are:
        </p>
        <ul>
          <li>
            <a href="https://www.centronazionalemost.it/">MOST</a> (Spoke 5) investigating new solutions for smart and sustainable light mobility. The laboratory has created a <a href="https://www.unibg.it/node/16634">telemetry system for bikes</a> that was mounted on some bikes at the <a href="https://www.giroe.it/">Giro-E</a>.
          </li>
          <li>
            <a href="https://www.radar-cns.org/">RADAR-CNS</a>, a European Union Horizon 2020 programme to develop new methods to monitor diseases such as depression, Parkinson, epilepsy, multiple sclerosis and so on.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--HEP-->
  <div class="row justify-content-start" id="particle">
    <div class="col col-12">
      <h1 class="border-bottom border-primary border-custom fs-3 pb-3 mt-5">Particle physics</h1>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col col-12 col-md-4 order-md-1">
      <img class="img-fluid" src="assets/img/GAPS_module.png" alt="gaps module" loading="lazy">
    </div>
    <div class="col col-12 col-md-8">
      <div class="text-start text-container mb-5">
        <p>
          Microlab has developed several custom low-noise front-end circuits for radiation detector readout in different national and international collaboration frames. The technologies used by the laboratory are varied, but CMOS is the usual choice when it comes to integrated circuits for the experience the group holds on the process.
        </p>
        <p>
          The group has been developing mixed-signal circuits in CMOS technologies from the 180 nm down to the 28 nm node to readout both pixellated and striped detectors. The target of the typical application is very low noise detection of target particles, together with low power specification and compact area for high level of integration and spatial resolution. The group has also experience on design of I/O blocks and band-gap references. There is also expertise with 3D integration technologies to produce multilayer analog-digital integrated circuits.
        </p>
        <p>
          Some of the project Microlab has been working on are:
        </p>
        <ul>
          <li><a href="https://rd53.web.cern.ch/">RD53</a>, in collaboration with <a href="https://home.cern/">CERN</a>, in the frame of the <a href="https://cms.cern/">CMS</a> experiment.</li>
          <li><a href="https://gaps1.astro.ucla.edu/gaps/">GAPS</a>, a <a href="https://www.nasa.gov/">NASA</a>/<a href="https://www.asi.it/en/">ASI</a>/<a href="https://global.jaxa.jp/">JAXA</a>/<a href="https://home.infn.it/en/">INFN</a> founded project in collaboration with different universities and institutes across the world.</li>
          <li><a href="https://photon-science.desy.de/research/technical_groups/detectors/projects/dssc/index_eng.html">DSSC</a>, in collaboration with <a href="https://www.xfel.eu/">European XFEL</a>, <a href="https://www.desy.de/">DESY</a>, <a href="https://www.polimi.it/en">Politecnico di Milano</a> and <a href="https://www.uni-heidelberg.de/en">Heidelberg University</a>.</li>
          <li><a href="https://www.belle2.org/">OBELIX</a>, in collaboration with <a href="https://www.kek.jp/en/">KEK</a>, in the frame of the <a href="https://www.belle2.org/">BELLE II</a> experiment.</li>
          <li><a href="https://aida2020.web.cern.ch/aida2020/">AIDA2020</a>, an European Union founded project in the frame of Horizon 2020 Research and Innovation programme.</li>
        </ul>
      </div>
    </div>
  </div>
  <!--Tech-->
  <div class="row justify-content-start" id="CMOS">
    <div class="col col-12">
      <h1 class="border-bottom border-primary border-custom fs-3 pb-3 mt-5">CMOS characterization</h1>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col col-12 col-md-4 mb-2">
      <img class="img-fluid" src="assets/img/noise_manghi.png" alt="gaps module" loading="lazy">
    </div>
    <div class="col col-12 col-md-8">
      <div class="text-start text-container mb-5">
        <p>
          CMOS technologies are widely used for the design and development of mixed-signal circuits. They enable a high level of integration and high fault tolerance in a hard radiation scenario. The continuous scaling of the technology nodes calls for thorough studies on their analog performance, in particular noise ones.
        </p>
        <p>
          In this field, the group developed an accurate noise model that accounts for secondary effects of scaled CMOS technologies, such as short channel effects and parasitic effects from gate and substrate resistances. The model has been validated across different CMOS technology nodes and with commercial and custom-developed electronics. Moreover, radiation hardness studies in different technologies have been pursued with a focus on noise and analog performance in general, as such characteristic is of paramount importance in spatial, x-ray imaging and high energy physics experiments.
        </p>
        <p>
          The work is mainly carried out in collaboration with the <a href="https://eilnew.unipv.it/en/">Electronic instrumentation Laboratory</a> of <a href="https://web.unipv.it/">Università di Pavia</a>.
      </div>
    </div>
  </div>
</div>