<div class="carousel slide carousel-top mb-5" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100 carousel-item-crop" src="assets/carousel/silicon_banner.webp" alt="First slide">
		</div>
	</div>
</div>

<div class="container fs-6">
	<!--Lectures resources-->
	<div class="row justify-content-start" id="lectures">
		<div class="col col-12">
			<h1 class="border-bottom border-primary border-custom fs-3 pb-3 mt-3">Lectures resources</h1>
		</div>
	</div>
	<div class="row justify-content-between">
		<div class="col col-12 col-md-8">
			<div class="text-start text-container mb-5">
				<p>Please refer to the e-learning to get lecture resources.</p>
			</div>
		</div>
	</div>

	<!--General learning maps-->
	<div class="row justify-content-start" id="general">
		<div class="col col-12">
			<h1 class="border-bottom border-primary border-custom fs-3 pb-3 mt-3">General learning maps</h1>
		</div>
	</div>
	<div class="row justify-content-between">
		<div class="col col-12 col-md-8">
			<div class="text-start text-container mb-5">
				<ul>
					<li><a href="https://www.cadence.com/en_US/home/training/all-courses.html">Cadence courses</a>, which spans from IC design to EM simulations (academic, requires login)</li>
					<li><a href="https://education.altium.com/">Altium education</a>, mostly revolving around PCB design (academic, requires login)</li>
				</ul>
			</div>
		</div>
	</div>

	<!--academic and free SW-->
	<div class="row justify-content-start" id="academic_and_free_sw">
		<div class="col col-12">
			<h1 class="border-bottom border-primary border-custom fs-3 pb-3 mt-3">Academic and free software</h1>
		</div>
	</div>
	<div class="row justify-content-between">
		<div class="col col-12 col-md-8">
			<div class="text-start text-container mb-5">
				<ul>
					<li><a href="https://www.cadence.com/en_US/home/training/all-courses.html">Cadence software</a> (academic, requires login)</li>
					<li><a href="https://www.altium.com/education/students?srsltid=AfmBOopwNsAMtessMTGn7hNUQXBJfuuwhtdacSczD_48bHeqAgAc7mzv#">Altium designer</a> (academic, requires registration to student lab)</li>
					<li><a href="https://www.autodesk.com/it/products/fusion-360/education">Fusion 360</a> (academic, requires login)</li>
					<li><a href="https://www.analog.com/en/resources/design-tools-and-calculators/ltspice-simulator.html">LTspice</a> (free)</li>
					<li><a href="https://www.ti.com/tool/TINA-TI">TINA-TI</a> (free)</li>
					<li><a href="https://www.xilinx.com/support/download.html">AMD Vivado software</a> (free, requires login)</li>
					<li><a href="https://fpgacademy.org/tools.html">Intel FPGA Academy tools</a> (free)</li>
				</ul>
			</div>
		</div>
	</div>

	<!--PCB design-->
	<div class="row justify-content-start" id="pcb_design">
		<div class="col col-12">
			<h1 class="border-bottom border-primary border-custom fs-3 pb-3 mt-3">PCB design</h1>
		</div>
	</div>
	<div class="row justify-content-between">
		<div class="col col-12 col-md-8">
			<div class="text-start text-container mb-5">
				<ul>
					<li><a href="https://education.altium.com/">Altium education</a> (academic, requires login)</li>
					<li><a href="https://www.youtube.com/@AltiumAcademy/featured">Altium academy Youtube channel</a> (free)</li>
				</ul>
			</div>
		</div>
	</div>

	<!--IC design-->
	<div class="row justify-content-start" id="ic_design">
		<div class="col col-12">
			<h1 class="border-bottom border-primary border-custom fs-3 pb-3 mt-3">IC design & verification</h1>
		</div>
	</div>
	<div class="row justify-content-between">
		<div class="col col-12 col-md-8">
			<div class="text-start text-container mb-5">
				<p><b>Warning:</b> the software used in these courses is Cadence Virtuoso, which is not free. However, the courses are free and can be useful to learn the basics of IC design and verification.</p>
				<ul>
					<li><a href="https://www.cadence.com/en_US/home/training/all-courses/86404.html">Analog IC Design Implementation and Verification</a> (academic, requires login)</li>
					<li><a href="https://www.cadence.com/en_US/home/training/all-courses/84443.html">Virtuoso Schematic Editor</a> (academic, requires login)</li>
					<li><a href="https://www.cadence.com/en_US/home/training/all-courses/86253.html">Virtuoso ADE Explorer and Assembler</a> (academic, requires login)</li>
					<li><a href="https://www.cadence.com/en_US/home/training/all-courses/86404.html">Analog IC design implementation and verification</a> (academic, requires login)</li>
					<li><a href="https://www.cadence.com/en_US/home/training/all-courses/84460.html">Virtuoso Layout Design Basics</a> (academic, requires login)</li>
					<li><a href="https://www.cadence.com/en_US/home/training/all-courses/85066.html">Virtuoso Layout for Advanced Nodes</a> (academic, requires login)</li>
					<li><a href="https://www.cadence.com/en_US/home/training/all-courses/86326.html">Virtuoso Spectre Transient Noise</a> (academic, requires login)</li>
					<li><a href="https://www.cadence.com/en_US/home/training/all-courses/83018.html">SKILL Language Programming</a> (academic, requires login)</li>
				</ul>
			</div>
		</div>
	</div>

	<!--Microwave and RF-->
	<div class="row justify-content-start" id="microwave_rf">
		<div class="col col-12">
			<h1 class="border-bottom border-primary border-custom fs-3 pb-3 mt-3">Microwave and RF design</h1>
		</div>
	</div>
	<div class="row justify-content-between">
		<div class="col col-12 col-md-8">
			<div class="text-start text-container mb-5">
				<ul>
					<li><a href="https://www.cadence.com/en_US/home/training/all-courses/86282.html">Microwave Office for RF Designers</a> (academic, requires login)</li>
					<li><a href="https://www.cadence.com/en_US/home/training/all-courses/86314.html">Planar EM Analysis in AWR Microwave Office</a> (academic, requires login)</li>
				</ul>
			</div>
		</div>
	</div>

	<!--FPGA design-->
	<div class="row justify-content-start" id="fpga_design">
		<div class="col col-12">
			<h1 class="border-bottom border-primary border-custom fs-3 pb-3 mt-3">FPGA design</h1>
		</div>
	</div>
	<div class="row justify-content-between">
		<div class="col col-12 col-md-8">
			<div class="text-start text-container mb-5">
				<ul>
					<li><a href="https://www.intel.com/content/www/us/en/developer/topic-technology/fpga-academic/materials.html">Intel FPGA basics</a> (academic, requires login)</li>
					<li><a href="https://nandland.com/">Nandland FPGA resources</a> (free)</li>
				</ul>
			</div>
		</div>
	</div>

	<!--Digital design-->
	<div class="row justify-content-start" id="digital_design">
		<div class="col col-12">
			<h1 class="border-bottom border-primary border-custom fs-3 pb-3 mt-3">Digital design</h1>
		</div>
	</div>
	<div class="row justify-content-between">
		<div class="col col-12 col-md-8">
			<div class="text-start text-container mb-5">
				<ul>
					<li><a href="https://www.youtube.com/playlist?list=PLZU5hLL_713x0_AV_rVbay0pWmED7992G">Digital VLSI Design on Youtube</a> (free)</li>
				</ul>
			</div>
		</div>
	</div>

	</div>